{% for category in channel_list.categories %}
  <nav>
    <h2>{{ category.name }}</h2>
    <ul>
      {% for channel in category.channels %}
        <li>
          <a href="/channel/{{ channel.id }}/0"
             class="{% if current_channel_id.is_some() && current_channel_id.unwrap() == channel.id %}active{% endif %}"
             hx-get="/channel/{{ channel.id }}/0?direction=up"
             hx-target="#content"
             hx-push-url="true"
             hx-swap="innerHTML scroll:bottom swap:33ms">
            {{ channel.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endfor %}
