{% let direction = direction %}
{% if matches!(direction, ScrollDirection::Up | ScrollDirection::Both) %}
  <div class="scroller"
    hx-get="/channel/{{ channel_id }}/{{ page + 1 }}?direction=up"
    hx-trigger="intersect once threshold:1.0 settle:200ms"
    hx-swap="outerHTML"></div>
{% endif %}
{% for MessageGroup { username, first_message, messages, highlighted } in message_groups %}
  <div class="messages-container" data-message-id="{{ first_message.rowid }}" {% if highlighted %}id="target-message"{% endif %}>
    <ul class="messages">
      <li class="username">
        <span class="avatar"><img alt="" src="{{ first_message.avatar }}"/></span>
        <span class="usr">{{ username }}</span>
        <span class="time">{{ first_message.sent_at }}</span>
        <button class="copy-link-btn" onclick="copyMessageLink({{ first_message.rowid }})">Copy Link</button>
      </li>
      <li class="msg">{{ first_message.content|escape("none") }}</li>
      {% for msg in messages %}
      <li class="msg">{{ msg.content|escape("none") }}</li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
{% if matches!(direction, ScrollDirection::Down | ScrollDirection::Both) && page > 0 %}
  <div class="scroller"
    hx-get="/channel/{{ channel_id }}/{{ page - 1 }}?direction=down"
    hx-trigger="intersect once threshold:1.0 delay:200ms settle:200ms"
    hx-swap="outerHTML"></div>
{% endif %}
