<title>Amardiscord - Search</title>
<h2 hx-swap-oob="innerHTML:#page-title">Search Results</h2>
<ul class="messages">
{% if search_result_groups.is_empty() %}
  No results found
{% else %}
  {% for SearchResultGroup { username, first_search_result, search_results } in search_result_groups %}
    <li class="username">
      <span class="avatar"><img alt="" src="{{ first_search_result.message.avatar }}"/></span>
      <span class="usr">{{ username }}</span>
      <span class="time">{{ first_search_result.message.sent_at }}</span>
      <a href="/message/{{ first_search_result.message_rowid }}" class="jump-btn">Jump</a>
    </li>
    <li class="msg">{{ first_search_result.message.content|escape("none") }}</li>
    {% for search_result in search_results %}
    <li class="msg">{{ search_result.message.content|escape("none") }}</li>
    {% endfor %}
  {% endfor %}
{% endif %}
</ul>
