<!doctype html>
<html>
  <head>
    <script defer src="htmx.min.js"></script>
    <script defer src="index.js"></script>
    <link rel="stylesheet" href="index.css"/>
  </head>

  <body>
    <div id="search-bar" hx-swap-oob="true">
      <input type="search" name="content" placeholder="Start typing to search..."
            hx-get="/search" hx-trigger="input changed delay:500ms, query"
            hx-target="#content" hx-swap="innerHTML show:bottom">
      </input>
    </div>

    <aside id="channels" hx-get="/channels" hx-trigger="load">
      loading...
    </aside>

    <div id="content">
      <div id="initial-content"
          hx-get="/channel/1/0?direction=up"
          hx-swap="outerHTML scroll:bottom"
          hx-trigger="load, intersect once"
          hx-on::after-request="document.getElementById('channels').setAttribute('hx-get', '/channels?current_channel_id=1')">
      </div>
    </div>

    <script>
      document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if (evt.detail.target.id === 'content') {
          // Preserve scroll position when navigating
          const scrollPos = window.scrollY;
          evt.detail.xhr.addEventListener('load', function() {
            window.scrollTo(0, scrollPos);
          });
        }
      });

      // Update channel list when loading a channel
      document.body.addEventListener('htmx:afterSwap', function(evt) {
        if (evt.detail.target.id === 'content') {
          const match = evt.detail.xhr.responseURL.match(/\/channel\/(\d+)\/\d+/);
          if (match) {
            const channelId = match[1];
            document.getElementById('channels').setAttribute('hx-get', `/channels?current_channel_id=${channelId}`);
            htmx.trigger('#channels', 'load');
          }
        }
      });
    </script>
  </body>
</html>
